/*color de fondo: #2e2e2a
color de hover: #f9a91a*/

body {
  font-family: sans-serif;
}

nav {
  /*outline: 1px solid yellow;*/
}

ul {
  /*outline: 1px solid blue;*/
  list-style: none;
  padding: 0;
  margin: 0;
  background: #2e2e2a;
  line-height: 40px;
    overflow: auto;

}

li{
  /*outline: 1px solid red;*/
  width: 100px;
  /*display: inline-block;*/
  float: left;
  text-align: center;
}

a{
  /*outline: 1px solid green;*/
  text-decoration: none;
  color: #fff;
  display: block;
}
/*agregando hoover al contenido de la etiqueta a*/
a:hover{
  background: #f9a91a;

  color: #000;
}
